services:

    odoo:
        depends_on:
            database:
                condition: service_healthy
        image: 'odoo:${ODOO_IMAGE_VERSION}'
        user: root
        tty: true
        container_name: odoo
        networks:
            - backend
        volumes:
            - 'dtodoo:/var/lib/odoo'
            - type: bind
              source: ./odoo/config/odoo.conf
              target: '/etc/odoo/odoo.conf'
            - './odoo/addons:/mnt/extra-addons'
        hostname: odoo
        restart: unless-stopped
        ports:
            - '8069:8069'
            - '8072:8072'
        environment:
            HOST: 'database'
            USER: '${DB_USER}'
            PASSWORD: '${DB_PASSWORD}'
            TZ: '${LOCAL_TIMEZONE}'
        command: bash -c "TMP=$$(mktemp) && grep -vF -e 'db_user' -e 'db_password' -e 'db_name' -e 'timezone' -e 'email_from' /etc/odoo/odoo.conf > $$TMP && echo -e 'db_user = ${DB_USER}\\ndb_password = ${DB_PASSWORD}\\ndb_name = ${DB_NAME}\\ntimezone = ${LOCAL_TIMEZONE}\\nemail_from = \"${LETSENCRYPT_EMAIL}\"' >> $$TMP && cp $$TMP /etc/odoo/odoo.conf && odoo -d ${DB_NAME} --db_user=${DB_USER} --db_password=${DB_PASSWORD} -i base"

    certbot:
        depends_on:
            proxy:
                condition: service_healthy
        image: certbot/certbot:latest
        container_name: certbot
        networks:
            - backend
        volumes:
            - 'certbot-etc:${LETSENCRYPT_CONF_PREFIX}'
            - 'certbot-var:/var/lib/letsencrypt'
            - '/tmp/acme-challenge:/tmp/acme-challenge'
        restart: unless-stopped
        healthcheck:
            test: ["CMD-SHELL", "test -d ${LETSENCRYPT_CONF_PREFIX}/live/${DOMAIN_NAME} || exit 1"]
            interval: 5s
            timeout: 5s
            retries: 20
        environment:
            TZ: '${LOCAL_TIMEZONE}'
        entrypoint: /bin/sh -c "${SSL_SNIPPET}; trap exit TERM; while :; do certbot renew --dry-run; sleep 12h & wait $${!}; done;"

    proxy:
        depends_on:
            - odoo
        image: nginx:stable
        container_name: proxy
        networks:
            - backend
            - frontend
        volumes:
            - type: bind
              source: ./proxy/nginx.conf
              target: '${PROXY_PREFIX}/nginx.conf'
            - type: bind
              source: ./proxy/templates/proxy.conf.template
              target: '${PROXY_PREFIX}/templates/default.conf.template'
            - type: bind
              source: ./proxy/ssl-option/options-ssl-nginx.conf
              target: '${LETSENCRYPT_CONF_PREFIX}/options-ssl-nginx.conf'
            - type: bind
              source: ./ssl-proxyconf.sh
              target: '/tmp/ssl-proxyconf.sh'
            - 'certbot-etc:${LETSENCRYPT_CONF_PREFIX}'
            - '/tmp/acme-challenge:/tmp/acme-challenge'
        hostname: proxy
        restart: unless-stopped
        ports:
            - '80:80'
            - '443:443'
        healthcheck:
            test: ["CMD-SHELL", "/bin/pidof nginx > /dev/null || exit 1"]
            interval: 10s
            timeout: 5s
            retries: 5
        environment:
            NGINX_HOST: ${DOMAIN_NAME}
            NGINX_PORT: 80
            TZ: '${LOCAL_TIMEZONE}'
        command: bash -c "/docker-entrypoint.sh nginx -v; sh /tmp/ssl-proxyconf.sh '${DOMAIN_NAME}' '${LETSENCRYPT_CONF_PREFIX}' '${PROXY_PREFIX}'"

    pgadmin:
        depends_on:
            certbot:
                condition: service_healthy
        image: dpage/pgadmin4:latest
        container_name: pgadmin
        networks:
            - backend
            - frontend
        volumes:
            - './pgadmin:/var/lib/pgadmin'
            - './certbot/live/${DOMAIN_NAME}/chain.pem:/certs/server.cert'
            - './certbot/live/${DOMAIN_NAME}/privkey.pem:/certs/server.key'
        hostname: pgadmin
        restart: unless-stopped
        ports:
            - '9090:443'
        links:
            - database
        environment:
            PGADMIN_DEFAULT_EMAIL: '${LETSENCRYPT_EMAIL}'
            PGADMIN_DEFAULT_PASSWORD: '${PGA_CONTROLPASS}'
            PGADMIN_ENABLE_TLS: true
            PGADMIN_DISABLE_POSTFIX: true
            PGADMIN_CONFIG_MAIL_SERVER: '"mail"'
            PGADMIN_CONFIG_MAIL_PORT: 1025
            TZ: '${LOCAL_TIMEZONE}'

    database:
        image: ${DATABASE_IMAGE_NAME}:${DATABASE_VERSION}
        container_name: database
        networks:
            - backend
        volumes:
            - 'db:${POSTGRESQL_CONF_PREFIX}'
            - type: bind
              source: ./database/postgresql.conf
              target: '${PGA_CONF_FOLDER}/postgresql.conf'
        hostname: database
        restart: unless-stopped
        ports:
            - '5432:5432'
        shm_size: 128mb
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME} || exit 1"]
            interval: 5s
            timeout: 5s
            retries: 10
        environment:
            POSTGRES_DB: '${DB_NAME}'
            POSTGRES_USER: '${DB_USER}'
            POSTGRES_PASSWORD: '${DB_PASSWORD}'
            PGDATA: '${POSTGRESQL_CONF_PREFIX}'
            LANG: 'en_US.utf8'
            POSTGRES_INITDB_ARGS: '--locale-provider=icu --icu-locale=en-US'
            TZ: '${LOCAL_TIMEZONE}'

    mail:
        image: mailhog/mailhog:latest
        container_name: mail
        networks:
            - backend
        hostname: mail
        restart: unless-stopped
        ports:
            - '1025:1025'
            - '8025:8025'
        environment:
            MH_HOSTNAME: 'mail.${DOMAIN_NAME}'
            MH_AUTH_FILE: '${DOMAIN_NAME}-auth'
        entrypoint: sh -c "echo ${DB_USER}:$(MailHog bcrypt ${DB_PASSWORD}) > ${DOMAIN_NAME}-auth && MailHog"

networks:
    backend: null
    frontend: null

volumes:
    dtodoo:
        name: odoo-data
    db:
        name: db-data
    certbot-etc:
        external: true
    certbot-var:
        name: certbot-var
