PROXY_PREFIX=/etc/nginx
LOCAL_TIMEZONE=local_timezone
DOMAIN_NAME=example.com
DIRECTORY_PATH=directory_path

LETSENCRYPT_EMAIL=email@domain.com
LETSENCRYPT_CONF_PREFIX=/etc/letsencrypt
SSL_SNIPPET=ssl_snippet					   

ODOO_IMAGE_VERSION=latest

DB_USER=db_username
DB_PASSWORD=db_password
DB_NAME=db_name

POSTGRESQL_CONF_PREFIX=/var/lib/postgresql/data/
DATABASE_IMAGE_NAME=postgres
DATABASE_VERSION=latest

PGA_CONTROLPASS=pga_password
PGA_CONF_FOLDER=/etc/pgadmin
